@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
    background-color: red;
}

h1 {
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    text-align: center;
}

.note-form {
    display: block;
    text-align: center;
}

#output {
    margin: 15px auto;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    background-color: white;
    text-align: center;
}

textarea[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}